
<table id="todays_games" class="tablesorter" cellpadding="7" align="left"  rules="rows">
  <thead>

    <tr align="left"> 
      <th data-placeholder="">Name</th>
      <th data-placeholder="">Pos</th>
      <th data-placeholder="">Team</th>
      <th data-placeholder="">Opp</th>
      <th data-placeholder="">Salary</th>
      <th data-placeholder="">Avg fd Pts</th>
      <th data-placeholder="">Avg VS Opp</th>
      <th data-placeholder="">Pts Needed</th>
      <th data-placeholder="">Pts needed vs Avg Pts</th>
      <th data-placeholder="">Position Advtg over OPP</th>
      <th data-placeholder="">7 days AVG</th>
      <th data-placeholder="">14 days AVG</th>   
      <th data-placeholder="">Injury Notes</th>

    </tr>
  </thead>

  <tbody>
    <% @todays_games.each do |todays_game| %>
      <tr>
        <td><%= todays_game.player_name %></td>
        <td><%= todays_game.pos %></td>
        <td><%= todays_game.team_name %></td>
        <td><%= todays_game.opponent %></td>
        <td><%= todays_game.salary %></td>
        <td><%= todays_game.avg_fd_points %></td>
        <td><%= todays_game.avg_fd_vs_opp %></td>
        <td><%= todays_game.projected_fd_points %></td>
        <td><%= todays_game.plus_minus_percentage %></td>
        <td><%= todays_game.fd_points_vs_opp %></td>        
        <td><%= todays_game.avg_seven_days %></td>        
        <td><%= todays_game.avg_fourteen_days %></td>  
        <td><%= todays_game.notes %></td>   
        <!--<td><%= link_to 'Show', todays_game %></td>
      -->
      </tr>
    <% end %>
  </tbody>
</table>





